<form name="editar" method="post">
	<p>
		<label>Grupo:</label><br />
		{html_checkboxes name="usuario[grupos]" options=$grupos selected=$grupos_selecionados separator='<br />'}
	</p>
	<p><label>Email:</label> <input name="usuario[email]" type="text" value="{$usuario.email}" /></p>
	<p><label>Senha:</label> <input name="usuario[senha]" type="password" value="" /></p>
	<p>
		<input type="reset" value="Limpar" />
		<input type="submit" value="Salvar" />
	</p>
</form>